@charset "utf-8";

/* header {
  background-color: #ffc489;
}

main {
  background-color: #ffbcdd;
}

footer {
  background-color: #bcffbc;
}

.animal {
  background-color: #99ccff;
} */

.jumbotron {
  background-image   : url(../images/header.jpg);
  background-size    : cover;
  background-position: center center;
  background-repeat  : no-repeat;
}