@charset "utf-8";

body {
  background-image: url("../images/snow.png"),
      url("../images/animal1.jpg");
  background-repeat: no-repeat;
  background-position: right 0;
  background-size: containauto;
}

.box1 {
  border: 1px solid #000;
  background: lightblue;
  width: 400px;
  height: 300px;
}

p {
  border: 2px solid #ff0000;
  background: pink;
  width: 75%;
  height: 30%;
  overflow: auto;
}
