@charset "utf-8";

.wrap {
  width: 500px;
  height: 500px;
  background-color: lightgreen;
  background-image: url(../images/page404.jpg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: auto 300px;
}
