/* 全体 */
main {
    border: 1px solid #ccc;
    background-color: aquamarine;
}

h1 {
    border-bottom: 1px solid black;
}

.updatedatail {
    text-align: right;
}

table {
    width: 100%;
    margin: 20px 0px;
}

table tr {
    border: 1px solid #ccc;
    /* 線のスタイルを設定 */

}

table th {
    padding: 10px;
}

table td {
    padding: 10px;
}


button:hover {
    cursor: pointer;
}

/* 1. 連番を表示するセレクタをより具体的に指定 */
table.addOrderTableBelow tbody tr {
    counter-increment: row-counter;
}

/* 2. counter-resetをテーブルごとに設定 */
table.addOrderTableBelow tbody {
    counter-reset: row-counter;
}

/* 3. 連番を表示する */
table.addOrderTableBelow tbody tr td.num::before {
    content: counter(row-counter);
}

/* ホバー効果を除外した行 */
table tr:hover th:not([rowspan="14"]),
table tr:hover td:not([rowspan="14"]) {
    /* ホバースタイルを指定 */
    background-color: #f0f0f0; /* 例: 背景色を変更 */
    cursor: pointer; /* 例: ポインターカーソルを表示 */
}


.addIngredient{
    counter-reset: allergyNum;
}

.addIngredient tr td.agNum::before {
    content: "アレルギー " counter(allergyNum);
}

.addIngredient tr td.agNum {
    counter-increment: allergyNum;
}
