@charset "utf-8";

table {
  border-collapse: collapse;
  width: 800px;
  height: 350px;
 }
 th,td {
  border: 1px solid #ccc;
  padding: 10px;
  width: 25%;
 }
 tr:nth-child(odd){
  background-color:#eee;
 }
 th {
  background-color: #000;
  color: #fff;
  font-weight: normal;
 }
 td {
  text-align: right;
 }