@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&family=Lobster&display=swap');

body {
  font-family: "游明朝";
}

h1 {
  font-family: 'Kosugi Maru', sans-serif;
}

h2, p {
  font-family: 'Lobster', cursive;
  color: rgba(255, 123, 0, 0.959);
}
